body {
    margin: 0;
}

.WebGazer {
    display: flex;
}

.WebGazer__VideoPlaceholder {
    border: 1px solid black;
    height: 240px;
    width: 320px;
}

.WebGazer__Controls button {
    font-size: 24px;
    padding: 16px;
}

.Board .Tile {
    font-size: 64px;
    height: 45vh;
    margin: 50px;
    padding: 6px;
    width: calc(50% - 110px);
}

.Board .Tile img {
    height: 70%;
    width: 70%;
}

.Board .Tile.Yes {
    background-color: #98f59b;
}

.Board .Tile.No {
    background-color: #fdb5b5;
}

.Board .Tile.active {
    border: 8px solid red;
    padding: 0;
}